<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<div class="container">
	<div class="bxslider">
	  <div><img src="assets/img/coffee1.jpg" title="Funky roots"></div>
	  <div><img src="assets/img/coffee2.jpg" title="The long and winding road"></div>
	  <div><img src="assets/img/coffee3.jpg" title="Happy trees"></div>
	</div>
</div>

<article class="about">
	<h2>Sobre nosotros</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla dignissim odio, vehicula tincidunt nisl mattis et. Vivamus consequat justo sit amet viverra auctor. Ut sed accumsan metus. Fusce id arcu at enim pellentesque varius. Cras lorem magna, accumsan a cursus nec, eleifend nec ex. Phasellus enim purus, viverra sed suscipit scelerisque, lobortis a magna. Morbi venenatis tellus id ex euismod laoreet. Sed vitae pretium libero. Proin et quam augue. Nunc eget convallis metus. Curabitur varius quis massa at fringilla. Ut vehicula risus odio, sed elementum nisi maximus at. In sollicitudin consequat dolor sed auctor. Praesent consectetur rutrum nisi, ut malesuada urna consequat quis.

		Nullam consectetur lorem a facilisis ultricies. Quisque nec mauris aliquet, interdum nibh sed, pellentesque sapien. Nulla at sagittis est. Nulla lacinia malesuada tortor et porta. Morbi viverra, massa et dictum auctor, sapien diam faucibus quam, vitae scelerisque sapien felis bibendum mauris. Pellentesque augue sem, lobortis id mauris id, scelerisque volutpat dolor. Etiam sed tristique urna, vitae feugiat erat. In tempor scelerisque tristique. In in sollicitudin ipsum, ac pellentesque lectus. Quisque et arcu et lorem mollis fringilla. Nam tempus lectus sed metus rhoncus tempor. Donec ut pulvinar mauris. Integer mollis purus quam, nec ultricies nisl dapibus eget. Pellentesque aliquam justo non augue ultrices, ac faucibus nibh rutrum. Phasellus est lectus, fringilla in lacus eu, consequat posuere ex. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
	</p>
</article>

