
<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{email}}</p>
</div>

<div class="container">
	<div class="bxslider">
	  <div><img src="assets/img/coffee1.jpg" title="Funky roots"></div>
	  <div><img src="assets/img/coffee2.jpg" title="The long and winding road"></div>
	  <div><img src="assets/img/coffee3.jpg" title="Happy trees"></div>
	</div>
</div>


<div id="posts">
	<!--Cargar Post desde un json-->
</div>

<aside id="sidebar">
	<div id="more">
		<h4><span>Nuestro grupo</span></h4>
		<img src="../../../assets/img/coffee1.jpg" />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla dignissim odio, vehicula tincidunt nisl mattis et. Vivamus consequat justo sit amet viverra auctor.</p>
	</div>
</aside>



